body {
  background: pink;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: start;
  margin: 20px auto;
}

.root:first-child {
  width: 40%;
}

h1 {
  width: 100%;
}

.widget {
  width: 200px;
  height: 25px;
  background: #ffd1a4;
  margin-bottom: 10px;
  line-height: 25px;
}

.page {
  border: 1px dashed #000;
  width: 250px;
  height: 250px;
}

.onePage {
  width: 250px;
  border: 1px dashed #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 8px;
}

.item {
  height: 70px;
  width: 70px;
  border: 1px dashed #000;
  margin-bottom: 8px;
}

.haveItem {
  border: 1px solid red;
  background: red;
}